@charset "UTF-8";
/* 清除浮动 */
/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 样式初始化 */
/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

q:before,
q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, "Microsoft YaHei";
  color: #333;
  outline: 0;
}

body {
  background: #fff;
}

a,
a:hover {
  color: #333;
}

body {
  height: 10000px;
  background-color: #333;
}

.cont {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  z-index: 1;
}

.cont:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 顶部通用腾讯游戏通栏 */
.ost {
  height: 42px;
  background: url(../images/top.jpg);
}

.ost:after, .ost:before {
  content: "";
  display: table;
}

.ost:after {
  clear: both;
}

.ost {
  *zoom: 1;
}

.ost .ost-b {
  width: 990px;
  margin: 0 auto;
}

.ost .ost-tenlogo {
  float: left;
  width: 250px;
  height: 40px;
  background: url(../images/top.jpg) no-repeat;
  background-position: 0 -42px;
}

.ost .ost-games {
  float: left;
  width: 230px;
  height: 40px;
}

.ost .ost-back {
  float: right;
  width: 230px;
  height: 40px;
}

.ost .ost-back p {
  width: 80px;
  height: 39px;
  padding: 0 0 0 28px;
  background: url(../images/top.jpg) no-repeat;
  background-position: 10px -126px;
}

.ost .ost-back a {
  line-height: 42px;
}

.ost .ost-back a:hover {
  color: #1eb8f3;
  border-bottom: 1px solid #1eb8f3;
}

/* 版心 */
.content, .ieg_game_top_box .igtb_main, .charge-content .top, .login-wrap .login-bar, .main .tab-con, .main .model {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* 导航栏 */
.ieg_game_top_box {
  background: #333333;
}

.ieg_game_top_box .igtb_main {
  height: 80px;
}

.ieg_game_top_box .igtb_main:after, .ieg_game_top_box .igtb_main:before {
  content: "";
  display: table;
}

.ieg_game_top_box .igtb_main:after {
  clear: both;
}

.ieg_game_top_box .igtb_main {
  *zoom: 1;
}

.ieg_game_top_box .igtb_logo {
  position: relative;
  left: 0;
  top: 0;
  width: 172px;
  height: 80px;
  float: left;
}

.ieg_game_top_box .igtb_logo a {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) no-repeat center !important;
  position: absolute;
}

.ieg_game_top_box .igtb_nav_wrap {
  float: left;
  width: calc(100% - 172px);
  height: 80px;
}

.ieg_game_top_box .igtb_nav_list {
  height: 100%;
}

.ieg_game_top_box .igtb_nav_list:after, .ieg_game_top_box .igtb_nav_list:before {
  content: "";
  display: table;
}

.ieg_game_top_box .igtb_nav_list:after {
  clear: both;
}

.ieg_game_top_box .igtb_nav_list {
  *zoom: 1;
}

.ieg_game_top_box .items {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 100%;
  background-color: #333333;
  text-align: center;
}

.ieg_game_top_box .items:hover {
  opacity: 0.8;
}

.ieg_game_top_box .items:nth-of-type(1) {
  background-color: #fdfd7a;
}

.ieg_game_top_box .items:nth-of-type(1):before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 27px;
  height: 16px;
  background: url(../images/top-nav-hot2.png);
}

.ieg_game_top_box .items:nth-of-type(1) a {
  color: #14203a;
}

.ieg_game_top_box .items:nth-of-type(1) h4 {
  font-size: 24px;
  font-weight: 700;
}

.ieg_game_top_box .items:nth-of-type(1) p {
  font-size: 16px;
  font-weight: 700;
}

.ieg_game_top_box .items:nth-of-type(2) {
  border-right: 1px solid #666666;
}

.ieg_game_top_box .items a {
  display: block;
  color: #ffffff;
  padding: 15px 10px 0;
}

.ieg_game_top_box .items h4 {
  font-size: 24px;
  font-weight: 700;
}

.ieg_game_top_box .items p {
  font-size: 16px;
  font-weight: 700;
}

.background-wrapper {
  position: relative;
}

.fn_act_wrap {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 1200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fn_act_wrap a {
  display: block;
}

.fn_act_wrap h1 {
  position: absolute;
  left: -50px;
  height: 73px;
  width: 180px;
  background: url(../images/spr2.png) no-repeat;
  background-position: 0 -201px;
}

.fn_act_wrap .we-logo {
  position: absolute;
  top: 6px;
  left: 153px;
  width: 289px;
  height: 63px;
  background: url(../images/sprite-img2.png) no-repeat;
  background-position: -779px -1660px;
}

.fn_act_wrap .facb_fast_link_box {
  position: absolute;
  top: 20px;
  left: 961px;
}

.fn_act_wrap .facb_fast_link_box a {
  width: 113px;
  height: 42px;
  background: url(../images/spr2.png) no-repeat;
}

.fn_act_wrap .facb_fast_link_box a:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 -291px;
}

.fn_act_wrap .facb_fast_link_box a:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 133px;
  background-position: -125px -291px;
}

.wrapper-bar {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.background-video {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  z-index: -999;
}

.charge-content {
  z-index: 10;
}

.charge-content .slog, .charge-content .hd-timer {
  position: relative;
  font-family: hpfont;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin: 280px auto 0 auto;
}

.charge-content .hd-timer {
  font-size: 38px;
  color: #f9ce43;
  margin: 22px auto 0 auto;
}

.charge-content .video-play {
  display: block;
  width: 134px;
  height: 82px;
  margin: 160px auto 0 auto;
  background: url(../images/sprite-img2.png);
  background-position: -2603px -1816px;
}

.charge-content .play-show {
  display: none;
  position: relative;
  top: -500px;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  cursor: auto;
  z-index: 2;
}

.charge-content .play-show iframe {
  width: 100%;
  height: 100%;
}

.charge-content .close a {
  position: absolute;
  top: 0;
  right: -62px;
  display: block;
  width: 59px;
  height: 62px;
  background: url(../images/sprite-img2.png);
  background-position: -641px -2257px;
}

.login-wrap {
  margin-top: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.login-wrap .login-bar a {
  color: #f9ce43;
}

.main {
  position: relative;
  height: 2694px;
  overflow: hidden;
}

.main:after, .main:before {
  content: "";
  display: table;
}

.main:after {
  clear: both;
}

.main {
  *zoom: 1;
}

.main .block-1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 1348px;
  background: url(../images/block-1.png) no-repeat top center;
}

.main .tab-con {
  max-width: 1300px;
  width: 100%;
}

.main .tab-con:after, .main .tab-con:before {
  content: "";
  display: table;
}

.main .tab-con:after {
  clear: both;
}

.main .tab-con {
  *zoom: 1;
}

.main .tab-con .items {
  float: left;
  width: 360px;
  height: 130px;
  margin: 0 35px;
}

.main .tab-con a {
  display: block;
  width: 360px;
  height: 130px;
  background: url(../images/sprite-img2.png);
  background-position: -2018px -1130px;
}

.main .tab-con .tb2 {
  background-position: -1831px -1391px;
}

.main .tab-con .tb3 {
  background-position: -1653px -1130px;
}

.main .model .m-title {
  display: block;
  margin: 20px auto;
  font-size: 56px;
  color: #fff;
  line-height: 1.2;
  font-family: hpfont;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.main .model .tit-msg {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.main .swiper-box-1 {
  position: relative;
  width: 1200px;
  height: 770px;
  margin: 35px auto 0 auto;
  background: url(../images/sprite-img2.png) no-repeat;
  background-position: -1205px 0;
  overflow: hidden;
}

.main .light-icon-1, .main .light-icon-2 {
  position: absolute;
  top: -78px;
  left: -289px;
  width: 466px;
  height: 197px;
  background: url(../images/sprite-img2.png) no-repeat;
  background-position: -1360px -1391px;
}

.main .light-icon-2 {
  top: -78px;
  left: auto;
  right: -289px;
  background-position: -919px -1391px;
}

.main .box-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
}

.main .box-list:after, .main .box-list:before {
  content: "";
  display: table;
}

.main .box-list:after {
  clear: both;
}

.main .box-list {
  *zoom: 1;
}

.main .box-list .items {
  float: left;
  width: 1200px;
  height: 700px;
}

.main .box-list img {
  display: block;
  width: 1094px;
  height: 648px;
  margin: 50px auto;
}

.main .box-btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 10px 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .box-btn:after, .main .box-btn:before {
  content: "";
  display: table;
}

.main .box-btn:after {
  clear: both;
}

.main .box-btn {
  *zoom: 1;
}

.main .box-btn li {
  float: left;
  width: 120px;
  height: 16px;
  margin: 0 5px;
  background-color: #ff953f;
  border-radius: 0;
  opacity: 0.8;
  cursor: pointer;
}

.main .box-btn .current {
  background: #ff7200;
}
