@charset "UTF-8";
/* 清除浮动 */
/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 样式初始化 */
/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

q:before,
q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, "Microsoft YaHei";
  color: #333;
  outline: 0;
}

body {
  background: #fff;
}

a,
a:hover {
  color: #333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 头部 */
.header-warp {
  height: 80px;
  background: #191919;
}

.header-warp .header-content {
  width: 100%;
  min-width: 1200px;
  line-height: 80px;
  height: 100%;
}

.header-warp .header-content:after, .header-warp .header-content:before {
  content: "";
  display: table;
}

.header-warp .header-content:after {
  clear: both;
}

.header-warp .header-content {
  *zoom: 1;
}

.header-warp .logo {
  float: left;
  width: 233px;
  height: 40px;
  margin-left: 30px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: url(../images/wegame-logo-40.776e17ff.png);
}

.header-warp .nav {
  float: left;
  height: 100%;
  margin-left: 164px;
}

.header-warp .nav:after, .header-warp .nav:before {
  content: "";
  display: table;
}

.header-warp .nav:after {
  clear: both;
}

.header-warp .nav {
  *zoom: 1;
}

.header-warp .nav li {
  float: left;
  margin: 0 12px;
  height: 100%;
}

.header-warp .nav li:nth-of-type(4) {
  background-color: rgba(255, 255, 255, 0.12);
}

.header-warp .nav li:nth-of-type(4) a {
  color: #fff;
}

.header-warp .nav a {
  padding: 0 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.header-warp .nav a:hover {
  color: #ffffff;
}

.header-warp .login {
  float: right;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  margin-right: 50px;
}

.header-warp .login:after, .header-warp .login:before {
  content: "";
  display: table;
}

.header-warp .login:after {
  clear: both;
}

.header-warp .login {
  *zoom: 1;
}

.header-warp .login a {
  float: left;
  height: 36px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 20px;
  line-height: 36px;
  padding: 0 5px;
  border-radius: 10px;
}

.header-warp .login a:nth-child(1):hover, .header-warp .login a:nth-child(3):hover {
  color: #ffffff;
}

.header-warp .login a:nth-child(2) {
  border: 1px solid #303030;
}

.header-warp .login a:nth-child(2):hover {
  color: #333333;
  background-color: #ffc800;
}

/* 头部结束 */
.banner {
  position: relative;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 864px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.top-bar {
  background-color: #000;
  width: 100%;
}

.fr-frame-container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  height: 100%;
}

.fr-frame-container .btn-group {
  position: absolute;
  z-index: 111;
  bottom: 130px;
  left: 50%;
  margin-left: -72px;
}

.fr-frame-container .btn-group .btn {
  width: 172px;
  height: 50px;
  font-size: 16px;
  line-height: 26px;
  color: #423411;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  padding: 12px 28px;
}

.fr-frame-container .btn-group .btn:hover {
  background-color: #ffc800;
}

.fr-frame-container .banner-des {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 28px;
  position: absolute;
  z-index: 111;
  width: 100%;
  left: 0;
  bottom: 70px;
}

.banner-wrp {
  width: 2276px;
  height: 100%;
  background-color: #000;
  top: 0;
  position: absolute;
  left: 50%;
  margin-left: -1138px;
}

.banner-wrp .banner-center {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none !important;
          transform: none !important;
  -webkit-transform-style: flat !important;
          transform-style: flat !important;
  opacity: 1;
  -webkit-animation: bar 2s linear;
          animation: bar 2s linear;
}

.banner-wrp .items {
  position: absolute;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.banner-wrp .bg-y {
  width: 100%;
  height: 100%;
  background: url(../images/wing-8.png);
  z-index: 10;
}

.banner-wrp .bg-x {
  width: 100%;
  height: 100%;
  background: url(../images/wing-2.png);
  z-index: 11;
}

.banner-wrp .bg-c {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 491px;
  background: url(../images/wing-3.png) no-repeat;
  z-index: 11;
}

.banner-wrp .bg-a {
  left: 0;
  bottom: -46px;
  width: 1475px;
  height: 580px;
  background: url(../images/wing-4.png);
  z-index: 12;
}

.banner-wrp .bg-left {
  top: 50%;
  left: 350px;
  width: 569px;
  height: 283px;
  background: url(../images/wing-left.png) no-repeat;
  z-index: 12;
}

.banner-wrp .bg-right {
  top: 40%;
  right: 300px;
  width: 392px;
  height: 190px;
  background: url(../images/wing-5.png) no-repeat;
  z-index: 12;
}

.banner-wrp .bg-fly {
  top: 100px;
  left: 60%;
  width: 246px;
  height: 194px;
  background: url(../images/wing-7.png) no-repeat;
  z-index: 12;
}

.banner-wrp .bg-fly-3 {
  bottom: 200px;
  left: 500px;
  width: 477px;
  height: 252px;
  background: url(../images/wing-10.png) no-repeat;
  z-index: 12;
  -webkit-animation: fadeMove 5s infinite;
          animation: fadeMove 5s infinite;
}

.banner-wrp .bg-content {
  top: 0%;
  left: 35%;
  width: 714px;
  height: 723px;
  background: url(../images/wing-1.png) no-repeat;
  z-index: 10;
}

.banner-wrp .bg-logo {
  top: 5%;
  left: 0%;
  width: 2276px;
  height: 513px;
  background: url(../images/wing-logo.png) no-repeat;
  z-index: 10;
}

.banner-fadeIn {
  -webkit-animation: fadeIn .8s linear .4s 1 both;
          animation: fadeIn .8s linear .4s 1 both;
}

.banner-fadeMove {
  -webkit-animation: fadeMove 5s infinite alternate;
          animation: fadeMove 5s infinite alternate;
}

/* 翼计划载入动画 */
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes fadeMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fr-frame-container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.section-port {
  width: 100%;
  height: 852px;
  background-image: url(../images/list-1.d8b493cc.jpg);
  background-size: 100% 100%;
}

.section-port .section-title {
  padding-top: 130px;
}

.section-port .section-title img {
  display: block;
  margin: 0 auto;
}

.section-port .section-p {
  color: #494b49;
  font-size: 16px;
  width: 540px;
  margin: 0 auto;
  padding-top: 60px;
  line-height: 28px;
}

.section-port .section-bd:after, .section-port .section-bd:before {
  content: "";
  display: table;
}

.section-port .section-bd:after {
  clear: both;
}

.section-port .section-bd {
  *zoom: 1;
}

.section-port .section-bd .widget-list {
  margin-top: 50px;
}

.section-port .section-bd .widget-list:after, .section-port .section-bd .widget-list:before {
  content: "";
  display: table;
}

.section-port .section-bd .widget-list:after {
  clear: both;
}

.section-port .section-bd .widget-list {
  *zoom: 1;
}

.section-port .section-bd .items {
  float: left;
  width: 25%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section-port .section-bd .widget-list-h1 {
  font-size: 24px;
  line-height: 24px;
  color: #131315;
  margin-top: 42px;
}

.section-port .section-bd .widget-list-p {
  font-size: 14px;
  color: #5e5e61;
  line-height: 21px;
  margin-top: 20px;
  text-align: center;
}

.widget-cur {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.section-gical {
  width: 100%;
  position: relative;
  height: 850px;
  background-image: url(../images/list-2.1deeaee7.png);
}

.section-gical .section-title {
  position: relative;
  padding-top: 100px;
  padding-bottom: 75px;
  text-align: center;
}

.section-gical .section-title img {
  display: block;
  margin: 0 auto;
}

.section-gical .step-flow:after, .section-gical .step-flow:before {
  content: "";
  display: table;
}

.section-gical .step-flow:after {
  clear: both;
}

.section-gical .step-flow {
  *zoom: 1;
}

.section-gical .step-flow .items {
  position: relative;
  width: 270px;
  height: 400px;
  float: left;
  margin-right: 175px;
  background-color: rgba(22, 21, 21, 0.5);
  border-radius: 3px;
  padding: 40px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section-gical .step-flow .items:nth-of-type(1):before, .section-gical .step-flow .items:nth-of-type(2):before {
  content: "";
  display: block;
  width: 118px;
  height: 10px;
  background: url(../images/yellow-right.png);
  position: absolute;
  right: -145px;
  top: 50%;
  margin-top: -10px;
}

.section-gical .step-flow .items:nth-of-type(3) {
  margin-right: 0;
}

.section-gical .step-flow .step-number {
  color: #ffc800;
  font-size: 14px;
  margin-bottom: 20px;
}

.section-gical .step-flow .step-title {
  color: #f1f1f1;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  font-weight: 400;
}

.section-gical .step-flow .step-dess {
  font-size: 14px;
  color: #919191;
  padding-top: 20px;
  text-align: left;
}

.section-gical .step-flow .step-bef {
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  position: absolute;
  right: -119px;
  top: 50%;
  margin-top: -40px;
  color: #f1f1f1;
}

.section-gical .btn-group {
  font-size: 0;
  white-space: nowrap;
  word-wrap: normal;
  text-align: center;
  margin-top: 28px;
}

.section-gical .btn-group .btn {
  display: inline-block;
  vertical-align: top;
  width: 208px;
  height: 56px;
  padding: 10px 28px;
  background-color: #fa0;
  background-image: -webkit-linear-gradient(0deg, #fa0, #ffc847);
  font-size: 20px;
  line-height: 36px;
  color: #161418;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  border-radius: 28px;
}

.section-gical .btn-group .btn:hover {
  background-color: #ffc800;
  background-image: -webkit-linear-gradient(0deg, #ffd82a, #ffde4d);
}

.section-solving {
  height: 1200px;
  background-image: url(../images/list-3.3d344a60.png);
  background-color: #fff;
}

.section-solving .section-title {
  padding-top: 85px;
}

.section-solving .section-title img {
  display: block;
  margin: 0 auto;
}

.section-solving .problem-list {
  position: relative;
  padding-top: 75px;
  padding-bottom: 20px;
}

.section-solving .problem-list:after, .section-solving .problem-list:before {
  content: "";
  display: table;
}

.section-solving .problem-list:after {
  clear: both;
}

.section-solving .problem-list {
  *zoom: 1;
}

.section-solving .problem-list .problem-list-item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section-solving .problem-list .problem-list-left,
.section-solving .problem-list .problem-list-right {
  text-align: left;
}

.section-solving .problem-list .problem-list-left {
  float: left;
  width: 50%;
  padding-left: 35px;
  padding-right: 15px;
}

.section-solving .problem-list .problem-list-right {
  float: right;
  width: 50%;
  padding-right: 35px;
  padding-left: 15px;
}

.section-solving .problem-list .problem-list-item {
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  padding: 45px 56px;
  margin-bottom: 30px;
}

.section-solving .problem-list .problem-list-title {
  font-size: 20px;
  color: #131315;
  padding-bottom: 34px;
  line-height: 28px;
  text-align: left;
  font-weight: 700;
}

.section-solving .problem-list .problem-list-title:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffd023;
  display: inline-block;
  margin-left: -21px;
  vertical-align: middle;
  margin-right: 10px;
}

.section-solving .problem-list .problem-list-p {
  font-size: 16px;
  color: #87878d;
  line-height: 24px;
  text-align: left;
}

.section-coop {
  height: 437px;
  background: #fff url(../images/coop-bg.bea8fbed.png);
}

.section-coop .section-title {
  padding-top: 85px;
}

.section-coop .section-title img {
  display: block;
  margin: 0 auto;
}

.section-coop .coop-ul {
  text-align: center;
  overflow: hidden;
}

.section-coop .coop-ul .items {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 110px 78px;
}

.section-contact {
  height: 526px;
  background: url(../images/list-4.90e0d0af.jpg);
}

.section-contact .section-title {
  padding-top: 90px;
}

.section-contact .section-title img {
  display: block;
  margin: 0 auto;
}

.section-contact .pate {
  position: relative;
  text-align: center;
  padding-top: 100px;
}

.section-contact .pate li {
  width: 288px;
  display: inline-block;
  vertical-align: top;
}

.section-contact .pate li img {
  margin-top: 17px;
}

.section-contact .pate .pate-mi {
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  padding-top: 28px;
}

.section-contact .pate .pate-name {
  font-size: 14px;
  color: #87878d;
  padding-top: 10px;
}

/* 底部版权 */
.copy-bar {
  padding: 56px 0;
  background: #191919;
}

.copy-row {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.copy-row:after, .copy-row:before {
  content: "";
  display: table;
}

.copy-row:after {
  clear: both;
}

.copy-row {
  *zoom: 1;
}

.copy-list .items {
  float: left;
}

.copy-list .items:after, .copy-list .items:before {
  content: "";
  display: table;
}

.copy-list .items:after {
  clear: both;
}

.copy-list .items {
  *zoom: 1;
}

.copy-list .items:nth-of-type(1) {
  margin-right: 180px;
}

.copy-list .items:nth-of-type(3) {
  float: right;
}

.copy-list .items > a {
  display: block;
}

.copy-list .items h3 {
  float: left;
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.copy-list .items .copy-icon {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #3a3a3a;
  border-radius: 50%;
  line-height: 1.5;
  opacity: 0.8;
  margin: 0 10px;
}

.copy-list .items .copy-icon:hover {
  opacity: 1;
}

.copy-list .items img {
  width: 48px;
}

.copy-list .items-list {
  float: left;
  width: 177px;
}

.copy-list .items-list a {
  float: left;
  position: relative;
  font-size: 14px;
  color: rgba(199, 201, 203, 0.4);
  white-space: nowrap;
  opacity: 0.8;
  margin: 5px 10px;
}

.copy-list .items-list a:hover {
  opacity: 1;
}

.copy-row-2 {
  padding-top: 40px;
}

.copy-row-2 p {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #666666;
}

.copy-row-2 p a {
  color: #666666;
}

.copy-row-2 p a:hover {
  color: #909090;
}

/* 底部版权结束 */
