@charset "UTF-8";
/* 清除浮动 */
/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 样式初始化 */
/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

q:before,
q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, "Microsoft YaHei";
  color: #333;
  outline: 0;
}

body {
  background: #fff;
}

a,
a:hover {
  color: #333;
}

#zSlider {
  position: relative;
  margin: 0px auto;
  width: 1000px;
  overflow: hidden;
}

#picshow {
  position: relative;
}

#picshow,
#picshow_img {
  overflow: hidden;
  float: left;
}

#picshow_img li {
  width: 1000px;
  height: 390px;
  overflow: hidden;
  float: left;
  display: none;
}

#picshow_img img {
  width: 1000px;
  height: 390px;
}

#picshow_tx {
  left: 0px;
  width: 880px;
  bottom: 0px;
  position: absolute;
  height: 90px;
  overflow: hidden;
}

#picshow_tx li {
  background: url(../images/picshow_bg.png) repeat;
  padding: 10px 30px;
  height: 70px;
  color: #fff;
  display: none;
}

#picshow_tx li a {
  color: #fff;
}

#picshow_tx li a:hover {
  text-decoration: underline;
}

#picshow_tx li h3 {
  margin: 13px 0;
}

#picshow_tx li p {
  color: #ccc;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
}

#select_btn li {
  width: 214px;
  height: 55.71429px;
  border-top: 1px solid #474747;
  cursor: pointer;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#select_btn li:hover {
  background-color: #292929;
}

#select_btn li a:hover {
  color: aliceblue;
}

#select_btn li.current {
  background-color: #1a1a1a;
}

#select_btn li.current a {
  color: #db7d05;
}

#select_btn li.current:hover {
  background-color: #292929;
}

#select_btn a {
  color: #ffffff;
}

#select_btn {
  position: absolute;
  float: right;
  right: 0;
  width: 214px;
  height: 390px;
  color: #111;
  background-color: rgba(0, 0, 0, 0.4);
}

#select_btn img {
  padding: 2px;
  border: 1px solid #ccc;
  width: 70px;
  height: 49px;
  margin-right: 10px;
  float: left;
}

#select_btn .select_text {
  height: 20px;
  font: bold 13px/16px "Microsoft YaHei";
  display: block;
  padding: 15px 0 0 20px;
}

#select_btn .select_date {
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  display: block;
}

#foot_bm a,
#foot_bm,
p,
p a {
  color: #666;
}

body {
  height: 5000px;
  color: green;
}

body:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #eee url(../images/store-bg.jpg) no-repeat 50% 0;
  z-index: -100;
  pointer-events: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-warp {
  height: 80px;
  background: #191919;
}

.header-warp .header-content {
  width: 100%;
  min-width: 1200px;
  line-height: 80px;
  height: 100%;
}

.header-warp .header-content:after, .header-warp .header-content:before {
  content: "";
  display: table;
}

.header-warp .header-content:after {
  clear: both;
}

.header-warp .header-content {
  *zoom: 1;
}

.header-warp .logo {
  float: left;
  width: 233px;
  height: 40px;
  margin-left: 30px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: url(../images/wegame-logo-40.776e17ff.png);
}

.header-warp .nav {
  float: left;
  height: 100%;
  margin-left: 164px;
}

.header-warp .nav:after, .header-warp .nav:before {
  content: "";
  display: table;
}

.header-warp .nav:after {
  clear: both;
}

.header-warp .nav {
  *zoom: 1;
}

.header-warp .nav li {
  float: left;
  margin: 0 12px;
  height: 100%;
}

.header-warp .nav a {
  padding: 0 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.header-warp .nav a:hover {
  color: #ffffff;
}

.header-warp .login {
  float: right;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  margin-right: 50px;
}

.header-warp .login:after, .header-warp .login:before {
  content: "";
  display: table;
}

.header-warp .login:after {
  clear: both;
}

.header-warp .login {
  *zoom: 1;
}

.header-warp .login a {
  float: left;
  height: 36px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 20px;
  line-height: 36px;
  padding: 0 5px;
  border-radius: 10px;
}

.header-warp .login a:nth-child(1):hover, .header-warp .login a:nth-child(3):hover {
  color: #ffffff;
}

.header-warp .login a:nth-child(2) {
  border: 1px solid #303030;
}

.header-warp .login a:nth-child(2):hover {
  color: #333333;
  background-color: #ffc800;
}

/* 搜索 */
.wegame-search {
  height: 50px;
  line-height: 50px;
}

.wegame-search .home-nav {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.wegame-search .home-nav:after, .wegame-search .home-nav:before {
  content: "";
  display: table;
}

.wegame-search .home-nav:after {
  clear: both;
}

.wegame-search .home-nav {
  *zoom: 1;
}

.wegame-search .nav-list {
  float: left;
  cursor: pointer;
}

.wegame-search .nav-list:after, .wegame-search .nav-list:before {
  content: "";
  display: table;
}

.wegame-search .nav-list:after {
  clear: both;
}

.wegame-search .nav-list {
  *zoom: 1;
}

.wegame-search .nav-list li {
  float: left;
}

.wegame-search .nav-list li:hover {
  background: #f4f4ff;
}

.wegame-search .nav-list li a {
  color: #3c3c3c;
}

.wegame-search .nav-list li:nth-child(1) a {
  padding: 0 15px;
}

.wegame-search .nav-list li:nth-child(2) {
  position: relative;
}

.wegame-search .nav-list li:nth-child(2) > a {
  padding: 0 19px 0 19px;
}

.wegame-search .nav-list i {
  vertical-align: middle;
}

.wegame-search .nav-list .list {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
}

.wegame-search .nav-list .list a {
  display: inline-block;
  padding-right: 38px;
  padding-left: 19px;
}

.wegame-search .nav-list .list a:hover {
  background: #f4f4ff;
}

.wegame-search .hots-search {
  float: left;
  margin-left: 270px;
  cursor: pointer;
}

.wegame-search .hots-search li {
  float: left;
}

.wegame-search .hots-search li:hover {
  background: #f4f4ff;
}

.wegame-search .hots-search li:nth-child(2) a {
  position: relative;
}

.wegame-search .hots-search li:nth-child(2) a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 1px;
  height: 10px;
  background: #bfbfbf;
}

.wegame-search .hots-search li:nth-child(2) a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 6px;
  width: 1px;
  height: 10px;
  background: #bfbfbf;
}

.wegame-search .hots-search li:nth-child(3) a {
  position: relative;
  color: #ff9600;
}

.wegame-search .hots-search li:nth-child(3) a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 6px;
  width: 1px;
  height: 10px;
  background: #bfbfbf;
}

.wegame-search .hots-search li:nth-child(4) a {
  position: relative;
  color: #ff9600;
}

.wegame-search .hots-search a {
  padding: 0 15px 0 0;
}

.wegame-search .tui-search {
  float: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wegame-search .tui-search input {
  width: 190px;
  height: 30px;
  border: 1px solid #ffe493;
  border-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 3px 25px 3px 15px;
}

.wegame-search .tui-search span {
  display: inline-block;
  width: 48px;
  height: 30px;
  color: #4d3c26;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  background-color: #ffe493;
  border-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* 搜索结束 */
/* 背景大图 */
.big-img {
  position: relative;
  width: 100%;
}

.big-img a {
  display: inline-block;
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.big-img img {
  width: 100%;
  height: 568px;
}

.big-img .big-img-mo {
  position: absolute;
  left: 50%;
  bottom: 3px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 400px;
  height: 60px;
}

.big-img .big-img-btn {
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 0;
  width: 86px;
  height: 30px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: url(../images/big-btn.png);
  cursor: pointer;
}

.big-img i {
  position: absolute;
  left: 50%;
  bottom: -4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #8c8c8c;
}

/* 背景大图结束 */
/* 垂直轮播图 */
/* 垂直轮播图结束 */
.dvAppointment {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 490px;
}

.dvAppointment .viewport {
  overflow: hidden;
  height: inherit;
  width: 100%;
  display: block;
  position: relative;
}

.dvAppointment .vi-header {
  height: 70px;
}

.dvAppointment .vi-header:after, .dvAppointment .vi-header:before {
  content: "";
  display: table;
}

.dvAppointment .vi-header:after {
  clear: both;
}

.dvAppointment .vi-header {
  *zoom: 1;
}

.dvAppointment .vi-header h2 {
  position: relative;
  font-size: 28px;
  color: #3c3c3c;
  line-height: 70px;
  height: 70px;
  max-width: 820px;
}

.dvAppointment .vi-content {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dvAppointment .vi-content:after, .dvAppointment .vi-content:before {
  content: "";
  display: table;
}

.dvAppointment .vi-content:after {
  clear: both;
}

.dvAppointment .vi-content {
  *zoom: 1;
}

.dvAppointment #vidv-list {
  position: relative;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.dvAppointment .vi-items {
  position: relative;
  width: 184px;
  height: 398px;
  display: inline-block;
  vertical-align: top;
  padding-top: 76px;
  margin-right: 20px;
  margin-top: 70px;
}

.dvAppointment .vi-items:after, .dvAppointment .vi-items:before {
  content: "";
  display: table;
}

.dvAppointment .vi-items:after {
  clear: both;
}

.dvAppointment .vi-items {
  *zoom: 1;
}

.dvAppointment .vi-items:before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 222px;
  right: 0;
  border-top: 2px solid #ffb300;
  z-index: 10;
}

.dvAppointment .vi-items:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -14px;
  width: 4px;
  height: 4px;
  background-color: #bfbfbf;
  border-radius: 50%;
  z-index: 10;
  border-left: 6px solid #eee;
  border-right: 6px solid #eee;
  margin-left: -10px;
  background-color: #ffb300;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.dvAppointment .future-game-item {
  position: absolute;
  top: 0;
}

.dvAppointment .future-game-item .date-flow {
  position: absolute;
  top: -54px;
  left: 49px;
}

.dvAppointment .future-game-item .date-flow-date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  min-width: 80px;
  color: #3c3c3c;
  font-size: 15px;
  text-align: center;
}

.dvAppointment .future-game-item .date-flow-desc {
  height: 19px;
  font-size: 13px;
  margin-left: 12px;
  margin-top: 2px;
  color: #757575;
}

.dvAppointment .date-content {
  position: relative;
  height: 242px;
  width: 184px;
}

.dvAppointment .date-content a {
  display: block;
  width: 100%;
  height: 100%;
}

.dvAppointment .date-content img {
  width: 100%;
  height: 100%;
}

.dvAppointment .date-info {
  position: relative;
  top: -48px;
  width: 100%;
  min-height: 120px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 19px 16px 0;
  margin: -10px 0 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  margin-top: 8px;
  background-color: #ffffff;
}

.dvAppointment .date-info h3 {
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  color: #3c3c3c;
  text-overflow: ellipsis;
}

.dvAppointment .date-info span {
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  color: #757575;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dvAppointment .gcard-infobtn {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  margin-bottom: -40px;
  width: 100%;
  color: #3c3c3c;
  background-color: #ffffff;
}

.dvAppointment .gcard-infobtn div {
  float: left;
  width: 91px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #e4e4e4;
}

.dvAppointment .gcard-infobtn div:nth-child(1) {
  border-right: none;
}

.dvAppointment .incon {
  position: absolute;
  top: -12px;
  left: 26px;
  width: 38px;
  height: 24px;
  background: url(../images/noshp_tag-bg.png) no-repeat;
  background-size: 100% 160px;
  background-position: 0 -75px;
  text-align: center;
}

.dvAppointment .incon:before {
  content: "";
  width: 10px;
  height: 24px;
  position: absolute;
  left: -10px;
  top: 0;
  background: url(../images/noshp_tag-bg.png) no-repeat;
  background-position: 0 -50px;
}

.dvAppointment .incon:after {
  content: "";
  width: 10px;
  height: 24px;
  position: absolute;
  right: -10px;
  top: 0;
  background: url(../images/noshp_tag-bg.png) no-repeat;
  background-position: -11px -50px;
}

.dvAppointment .incon span {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.dvAppointment .vi-btn {
  height: 0;
}

.dvAppointment .vi-pre,
.dvAppointment .vi-next {
  position: absolute;
  width: 30px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 68px;
  cursor: pointer;
}

.dvAppointment .vi-pre:hover,
.dvAppointment .vi-next:hover {
  background-color: #787878;
}

.dvAppointment .vi-pre i,
.dvAppointment .vi-next i {
  font-size: 20px;
  color: #ffffff;
}

.dvAppointment .vi-pre {
  top: 50%;
  left: -40px;
  z-index: 999;
}

.dvAppointment .vi-next {
  top: 50%;
  right: -40px;
  z-index: 999;
}

/* 排行榜 */
.more-game {
  position: relative;
}

.more-game-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.more-game-container .more-game-hearder {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  color: #3c3c3c;
}

.more-game-container .more-game-hearder:after, .more-game-container .more-game-hearder:before {
  content: "";
  display: table;
}

.more-game-container .more-game-hearder:after {
  clear: both;
}

.more-game-container .more-game-hearder {
  *zoom: 1;
}

.more-game-container .more-game-hearder .left {
  float: left;
  height: 100%;
  font-size: 28px;
}

.more-game-container .more-game-hearder .right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 92px;
  height: 26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 60px;
  border: 1px solid #a4a4a4;
  line-height: 26px;
  text-align: center;
}

/* 排行榜轮播图 */
.more-pai-conent {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.more-pai-conent:after, .more-pai-conent:before {
  content: "";
  display: table;
}

.more-pai-conent:after {
  clear: both;
}

.more-pai-conent {
  *zoom: 1;
}

.more-pai-conent .more-tui {
  width: 1020px;
}

.more-pai-conent .more-tui:after, .more-pai-conent .more-tui:before {
  content: "";
  display: table;
}

.more-pai-conent .more-tui:after {
  clear: both;
}

.more-pai-conent .more-tui {
  *zoom: 1;
}

.more-pai-conent .more-items {
  float: left;
  width: 320px;
  margin-right: 20px;
  background: #ffffff;
}

.more-pai-conent .more-items-header {
  width: 320px;
  height: 55px;
  color: #3c3c3c;
  padding: 16px 16px 14px;
}

.more-pai-conent .more-items-header:after, .more-pai-conent .more-items-header:before {
  content: "";
  display: table;
}

.more-pai-conent .more-items-header:after {
  clear: both;
}

.more-pai-conent .more-items-header {
  *zoom: 1;
}

.more-pai-conent .more-items-header h2 {
  float: left;
  font-size: 18px;
}

.more-pai-conent .more-svg {
  float: left;
  margin-left: 20px;
}

.more-pai-conent .more-svg svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.more-pai-conent .more-items-content {
  /* 前面圆 */
  /* 灰色的圆 */
  /* 头部圆 */
}

.more-pai-conent .more-items-content > li {
  position: relative;
  height: 92px;
  border-bottom: 1px solid #e4e4e4;
}

.more-pai-conent .more-items-content > li > a {
  position: relative;
  display: block;
  height: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.more-pai-conent .more-items-content > li > a:after, .more-pai-conent .more-items-content > li > a:before {
  content: "";
  display: table;
}

.more-pai-conent .more-items-content > li > a:after {
  clear: both;
}

.more-pai-conent .more-items-content > li > a {
  *zoom: 1;
}

.more-pai-conent .more-items-content > li .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.08;
}

.more-pai-conent .more-items-content > li .bg1 img {
  width: 100%;
  height: 100%;
}

.more-pai-conent .more-items-content > li .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #996c3d;
}

.more-pai-conent .more-items-content svg {
  width: 34px;
  height: 34px;
}

.more-pai-conent .more-items-content .more-icon {
  position: relative;
  z-index: 5;
  float: left;
  width: 34px;
  height: 34px;
  vertical-align: middle;
}

.more-pai-conent .more-items-content .more-icon svg {
  position: absolute;
  top: 8px;
}

.more-pai-conent .more-items-content .width-circular, .more-pai-conent .more-items-content .width-circular2, .more-pai-conent .more-items-content .width-circular-hearder {
  position: relative;
}

.more-pai-conent .more-items-content .width-circular:before, .more-pai-conent .more-items-content .width-circular2:before, .more-pai-conent .more-items-content .width-circular-hearder:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 15px;
  width: 0px;
  height: 30px;
  border: 1px dashed #ff8f00;
}

.more-pai-conent .more-items-content .width-circular:after, .more-pai-conent .more-items-content .width-circular2:after, .more-pai-conent .more-items-content .width-circular-hearder:after {
  content: "";
  position: absolute;
  top: 35px;
  left: 15px;
  width: 0px;
  height: 30px;
  border: 1px dashed #ff8f00;
}

.more-pai-conent .more-items-content .width-circular .circular1, .more-pai-conent .more-items-content .width-circular2 .circular1, .more-pai-conent .more-items-content .width-circular-hearder .circular1 {
  position: absolute;
  top: 25px;
  left: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid #ff8f00;
  margin: -8px 0 0;
  border-radius: 50%;
}

.more-pai-conent .more-items-content .width-circular .circular1 .middle-ciruclar1, .more-pai-conent .more-items-content .width-circular2 .circular1 .middle-ciruclar1, .more-pai-conent .more-items-content .width-circular-hearder .circular1 .middle-ciruclar1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #ff8f00;
  border-radius: 50%;
}

.more-pai-conent .more-items-content .width-circular2 .middle-ciruclar1 {
  display: none;
}

.more-pai-conent .more-items-content .width-circular2:before {
  border: 1px dashed #e0e0e0;
}

.more-pai-conent .more-items-content .width-circular2:after {
  border: 1px dashed #e0e0e0;
}

.more-pai-conent .more-items-content .width-circular2 .circular1 {
  border: 2px solid #e0e0e0;
}

.more-pai-conent .more-items-content .width-circular2 .circular1 .middle-ciruclar1 {
  background-color: #e0e0e0;
}

.more-pai-conent .more-items-content .width-circular-hearder:before {
  display: none;
}

.more-pai-conent .more-items-content .more-game-middle {
  position: relative;
  z-index: 5;
  float: left;
  width: 92px;
  height: 54px;
}

.more-pai-conent .more-items-content .more-info, .more-pai-conent .more-items-content .more-info2 {
  position: relative;
  z-index: 5;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.more-pai-conent .more-items-content .more-info h2, .more-pai-conent .more-items-content .more-info2 h2 {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 5px;
}

.more-pai-conent .more-items-content .more-info p, .more-pai-conent .more-items-content .more-info2 p {
  font-size: 14px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.6);
}

.more-pai-conent .more-items-content .more-info .more-text4, .more-pai-conent .more-items-content .more-info2 .more-text4 {
  display: inline-block;
  color: #ff6f00;
  font-size: 16px;
  font-weight: 700;
}

.more-pai-conent .more-items-content .more-info2 h2 {
  color: #3c3c3c;
}

.more-pai-conent .more-items-content .more-info2 > div {
  margin-top: 5px;
}

.more-pai-conent .more-items-content .more-info2 strong {
  display: inline-block;
  color: #757575;
  margin-top: 5px;
}

.more-pai-conent .more-items-content .more-info2 .more-text1 {
  position: relative;
  color: #ffffff;
  background: #ff6f00;
  padding: 2px 5px 2px 4px;
}

.more-pai-conent .more-items-content .more-info2 .more-text1:after {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-style: solid;
  border-width: 10px 0 10px 6px;
  border-color: transparent transparent transparent #ff6f00;
}

.more-pai-conent .more-items-content .more-info2 .more-text2 {
  margin-left: 10px;
  color: #ff6f00;
}

.more-pai-conent .more-items-content .more-info2 .more-text3 {
  margin-left: 10px;
  color: #757575;
  text-decoration: line-through;
}

.more-pai-conent .more-items-content .more-info2 .more-text4 {
  color: #ff6f00;
  font-size: 16px;
  font-weight: 700;
}

.more-pai-conent .more-items-content .more-icon-end {
  position: relative;
  float: right;
  width: 34px;
  height: 34px;
}

.more-pai-conent .more-items-content .more-icon-end svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.more-pai-conent .more-items-content img {
  width: 100%;
  height: 100%;
}

/* 蛋蛋君推荐游戏 */
.dandanjun-bar {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.dandanjun-content {
  width: 100%;
}

.dandanjun-content:after, .dandanjun-content:before {
  content: "";
  display: table;
}

.dandanjun-content:after {
  clear: both;
}

.dandanjun-content {
  *zoom: 1;
}

.dandanjun-content .header-title {
  font-size: 28px;
  color: #3c3c3c;
  height: 70px;
  line-height: 70px;
}

.dandanjun-info {
  position: relative;
  height: 410px;
}

.dandanjun-info .dandanjun-info-top {
  position: relative;
  z-index: 1;
  padding: 35px 30px 0 40px;
  color: #ffffff;
}

.dandanjun-info .dandanjun-info-top a {
  color: #ffffff;
}

.dandanjun-info .dandanjun-info-top h1 a {
  font-size: 36px;
}

.dandanjun-info .dandanjun-info-top .dandan-introduce {
  position: relative;
  width: 464px;
  padding-left: 20px;
  padding-top: 20px;
}

.dandanjun-info .dandanjun-info-top .dandan-introduce:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 3px;
  height: 55px;
  background: rgba(255, 255, 255, 0.2);
}

.dandanjun-info .dandanjun-info-top .dandan-introduce a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}

.dandanjun-info .dandanjun-info-top .dandan-special {
  display: inline-block;
  margin-top: 20px;
}

.dandanjun-info .dandanjun-info-top .dandan-special a {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 36px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
  padding: 0 15px;
  background: transparent linear-gradient(280deg, #ffc800, #ffe082) 0 0 no-repeat padding-box;
}

.dandanjun-info .dandanjun-info-top .dandan-special a .dandan-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../images/ico-btn-arrow-r.png);
}

.dandanjun-info .dandanjun-bg {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 510px;
  z-index: 0;
}

.dandanjun-info .dandanjun-bg img {
  height: 100%;
}

.dandanjun-info-bottom {
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 30px;
}

.dandanjun-info-bottom .dandan-title {
  line-height: 24px;
  padding-left: 30px;
}

.dandanjun-info-bottom .dandan-title:after, .dandanjun-info-bottom .dandan-title:before {
  content: "";
  display: table;
}

.dandanjun-info-bottom .dandan-title:after {
  clear: both;
}

.dandanjun-info-bottom .dandan-title {
  *zoom: 1;
}

.dandanjun-info-bottom .dandan-title i {
  float: left;
  width: 24px;
  height: 24px;
  background: url(../images/ico-dandanjun.100044d7.png);
}

.dandanjun-info-bottom .dandan-title h3 {
  float: left;
  padding: 0 10px;
}

.dandanjun-info-bottom .dandan-title span {
  float: left;
  color: rgba(255, 255, 255, 0.5);
}

/* 轮播图 */
.dandan-focus {
  position: relative;
  width: 496px;
  height: 90px;
  margin-left: 30px;
  margin-top: 20px;
  overflow: hidden;
}

.dandan-focus:after, .dandan-focus:before {
  content: "";
  display: table;
}

.dandan-focus:after {
  clear: both;
}

.dandan-focus {
  *zoom: 1;
}

.dandan-list {
  position: absolute;
  left: 0;
  width: 10000%;
}

.dandan-list:after, .dandan-list:before {
  content: "";
  display: table;
}

.dandan-list:after {
  clear: both;
}

.dandan-list {
  *zoom: 1;
}

.dandan-list .dandan-items {
  float: left;
  margin-right: 8px;
  width: 168px;
  height: 90px;
  overflow: hidden;
}

.dandan-list .dandan-items:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.dandan-list .dandan-items img {
  width: 168px;
  height: 90px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* 轮播图按钮 */
.dandan-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.dandan-btn .dandan-btn-left {
  position: absolute;
  top: 54px;
  width: 30px;
  height: 68px;
  cursor: pointer;
}

.dandan-btn .dandan-btn-left:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../images/ico-arrow-l.29a44d63.png);
}

.dandan-btn .dandan-btn-right {
  position: absolute;
  top: 54px;
  left: 527px;
  width: 30px;
  height: 68px;
  cursor: pointer;
}

.dandan-btn .dandan-btn-right:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  background: url(../images/ico-arrow-l.29a44d63.png);
}

/* 蛋蛋君推荐游戏结束 */
/* 最新更新 */
.recent-update {
  margin-top: 20px;
}

.skin-panel-inner {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.skin-panel-inner:after, .skin-panel-inner:before {
  content: "";
  display: table;
}

.skin-panel-inner:after {
  clear: both;
}

.skin-panel-inner {
  *zoom: 1;
}

.skin-panel-inner .header-title {
  height: 70px;
}

.skin-panel-inner .header-title h2 {
  font-size: 28px;
  color: #3c3c3c;
  line-height: 70px;
}

/* 最新更新轮播图 */
.skin-hd:after, .skin-hd:before {
  content: "";
  display: table;
}

.skin-hd:after {
  clear: both;
}

.skin-hd {
  *zoom: 1;
}

.skin-hd .width-list-hd:after, .skin-hd .width-list-hd:before {
  content: "";
  display: table;
}

.skin-hd .width-list-hd:after {
  clear: both;
}

.skin-hd .width-list-hd {
  *zoom: 1;
}

.skin-hd .focus-list:after, .skin-hd .focus-list:before {
  content: "";
  display: table;
}

.skin-hd .focus-list:after {
  clear: both;
}

.skin-hd .focus-list {
  *zoom: 1;
}

.skin-hd .items-content {
  position: relative;
  padding: 0 15px;
}

.skin-hd .items-content:after, .skin-hd .items-content:before {
  content: "";
  display: table;
}

.skin-hd .items-content:after {
  clear: both;
}

.skin-hd .items-content {
  *zoom: 1;
}

.skin-hd .items {
  display: inline-block;
  width: 340px;
  padding: 0 20px 0 0;
  white-space: normal;
  vertical-align: middle;
  background-color: pink;
  cursor: pointer;
}

.skin-hd .items-box {
  width: 321px;
  border-radius: 2px;
  overflow: hidden;
}

.skin-hd .items-box > a {
  display: block;
}

.skin-hd .items-box > a:after, .skin-hd .items-box > a:before {
  content: "";
  display: table;
}

.skin-hd .items-box > a:after {
  clear: both;
}

.skin-hd .items-box > a {
  *zoom: 1;
}

.skin-hd .items-title {
  width: 100%;
  height: 180px;
}

.skin-hd .items-title img {
  width: 100%;
  height: 100%;
}

.skin-hd .game-poste {
  position: absolute;
  left: 20px;
  height: 40px;
  z-index: 1;
  font-size: 14px;
  color: #a4a4a4;
}

.skin-hd .game-poste:after, .skin-hd .game-poste:before {
  content: "";
  display: table;
}

.skin-hd .game-poste:after {
  clear: both;
}

.skin-hd .game-poste {
  *zoom: 1;
}

.skin-hd .game-poste > img {
  position: absolute;
  top: -30px;
  width: 60px;
  height: 80px;
}

.skin-hd .game-poste .game-poste-cont {
  float: left;
  margin-left: 70px;
}

.skin-hd .game-poste .game-poste-cont h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.skin-hd .game-poste .game-poste-end {
  position: relative;
  float: left;
  margin-top: 7px;
  font-size: 12px;
  margin-left: 25px;
}

.skin-hd .game-poste .game-poste-end span {
  line-height: 1.5;
}

.skin-hd .game-poste .game-poste-end .iconfont {
  vertical-align: bottom;
}

.skin-hd .game-info {
  position: relative;
  margin-top: 50px;
  z-index: 2;
}

.skin-hd .game-info h3 {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}

.skin-hd .game-info p {
  font-size: 14px;
  color: #3c3c3c;
}

/* 最新更新轮播图结束 */
/* 最新更新结束 */
